body,div,span,p,a,img,ul,ol,li {
	border: 0;
}

@font-face {
    font-family: 'DejaVuSansBook';
    src: url('/font/DejaVuSans-webfont.eot');
    font-weight: normal;
    font-style: normal;
}


body {
	padding: 5px 0;
	background: white;
	font: 0.75em/ 1.5 "DejaVuSansBook", sans-serif;
	color: #000;
	background: #F7F7F7 url(/images/bg_texture.png) repeat scroll 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px ;
    border-bottom: 1px solid #b3b3b3;
	text-align: center;
}

a {
	color: #4aa0e0;
}

a:hover {
	color: #ffae00;
}

h1,h2,h3,h4,h5,h6 {
	margin: 15px 0 10px 0;
	color: #4aa0e0
}

h1 {
	font-size: 300%;
	font-family: "arial", sans-serif;
	letter-spacing: -1px;
}

h2 {
	font-size: 160%;
	font-family: "arial", sans-serif;
	letter-spacing: -1px;
	color: #929292
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 100%;
}

p {
	margin: 15px 0;
}

.main {
	width: 870px;
	margin: auto;
	text-align: left;
}

#logo {
	position: absolute;
	top: 30px;
	margin-left: -15px;
	font-family: DejaVuSansBook, Sans-Serif;
}

#logo h1 {
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 110px;
	margin: 0;
	padding: 0;
	font-family: DejaVuSansBook, Sans-Serif;
}

#logo h1 a {
	color: black;
}

#contact {
	text-align: right; width : 409px;
	height: 26px;
	margin-left: 450px;
	margin-top: 40px;
	font-size: 140%;
	color: #4aa0e0;
	width: 409px;
}

ul {
	margin: 0;
	padding: 20px;
	list-style: none;
}

ul li {
	margin: 0;
	padding: 4px;
	padding-top: 10px;
	padding-left: 20px;
	list-style-type: circle;
	font-size: 120%;
	color: #4aa0e0
}

.clients {
	padding-right: 29px;
	padding-top: 5px;
	float: left;
}



<!-- Footer stuff -->

#footer-content {
    width: 100%;
    height: 0px;
    background: #251b15;
    color: #CCCCCC;
    font-size: 0.8em;
    border: none;
    font-family: DejaVuSansBook, Sans-Serif;
}

#footerSlideContent {
    width: 100%;
    height: 0px;
    background: #F7F7F7 url(/images/footer.png) repeat scroll 0px 0px;
    color: #CCCCCC;
    font-size: 0.8em;
    border: none;
    font-family: DejaVuSansBook, Sans-Serif;
}


#footer-container {
    position: fixed;
    bottom:0;
    width: 100%;
}

.footer a {
	color: black
}

#legal {
   display: none;
}